<mat-form-field class="w-full relative my-2">
    @if(label){<mat-label>{{label}}</mat-label>}
    @switch (type) {
    @case('textarea'){
    <textarea matInput [errorStateMatcher]="matcher" [formControl]="formControl" [placeholder]="placeholder"></textarea>
    }
    @case('select'){
    <mat-select [formControl]="formControl" [placeholder]="placeholder">
        @for (opt of options; track opt) {
        <mat-option [value]="opt.value">{{opt.name|translate}}</mat-option>
        }
    </mat-select>
    }
    @default(){
    <input matInput [errorStateMatcher]="matcher" [type]="customType" [formControl]="formControl"
        [placeholder]="placeholder">
    }
    }
    @if(type==='search'){
    <mat-icon matPrefix>search</mat-icon>
    }
    @if(type==='password'){
    <button class="absolute right-2 top-4 dark:text-white/40 cursor-pointer" (click)="changeVisibility()">
        @if(customType ==='password'){
       <i class="bi bi-eye"></i> }@else {
        <i class="bi bi-eye-slash"></i> 
        }
    </button>
    }

    @if(isInvalidAndTouched(control)){
    <mat-error>{{(getErrorMessage(control)??'')|translate}}</mat-error>
    }
</mat-form-field>