<div
    class=" flex items-center justify-center bg-gray-50 dark:bg-transparent md:dark:bg-gray-900 p-4 rounded-xl p-8 md:shadow-md md:border border-gray-300/50 dark:border-gray-600/60">
    <div class="w-full max-w-md space-y-6">
        <div class="text-center">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-white">{{'auth.confirm.title'|translate}}</h1>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{{'auth.confirm.subtitle'|translate}}</p>
        </div>

        <form class="space-y-4" [formGroup]="frm" >

            <app-input [frm]="frm" [control]="'token'" [type]="'textarea'"
                [label]="'auth.confirm.form.inputs.token.label'|translate"
                [placeholder]="'auth.confirm.form.inputs.token.placeholder'|translate"></app-input>

            <div class="flex gap-4 items-center">
                <button [disabled]="loading" type="button" (click)="sendConfirmationToken()"
                    class="w-full uppercase bg-gray-600 hover:bg-gray-700 text-white font-medium py-3 cursor-pointer px-4 rounded-md transition">{{(loadingResend?'commons.buttons.loading':'auth.confirm.buttons.resend')|translate
                    }}</button>
                <button [disabled]="loading" type="submit" (click)="submit()"
                    class="w-full uppercase bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-3 cursor-pointer px-4 rounded-md transition">{{(loadingSubmit?'commons.buttons.loading':'auth.confirm.buttons.activate')|translate
                    }}</button>
            </div>
        </form>

    </div>
</div>