<mat-card appearance="outlined" class="w-full max-w-2xl">
    <mat-card-content>
        <div class=" flex items-center justify-center bg-gray-50 dark:bg-gray-900 p-4">
            <div class="w-full max-w-md space-y-6">
                <div class="text-center">
                    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">{{'auth.reset.title'|translate}}</h1>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{{'auth.reset.subtitle'|translate}}</p>
                </div>

                <form class="space-y-4" [formGroup]="frm">

                    <app-input [frm]="frm" [control]="'password'" [type]="'password'"
                        [label]="'auth.register.form.inputs.password.label'|translate"
                        [placeholder]="'auth.register.form.inputs.password.placeholder'|translate"></app-input>
                    <app-input [frm]="frm" [control]="'confirm'" [type]="'password'"
                        [label]="'auth.register.form.inputs.confirm.label'|translate"
                        [placeholder]="'auth.register.form.inputs.confirm.placeholder'|translate"></app-input>

                    <div class="flex gap-4 items-center">
                        <button [disabled]="loading" type="button" (click)="cancel()"
                            class="w-full uppercase bg-gray-600 hover:bg-gray-700 text-white font-medium py-3 cursor-pointer px-4 rounded-md transition">{{'commons.buttons.cancel'|translate
                            }}</button>
                        <button [disabled]="loading" type="submit" (click)="submit()"
                            class="w-full uppercase bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-3 cursor-pointer px-4 rounded-md transition">{{(loading?'commons.buttons.loading':'auth.reset.buttons.reset')|translate
                            }}</button>
                    </div>
                </form>

            </div>
        </div>
    </mat-card-content>
</mat-card>