<h2 class="text-lg font-semibold text-gray-500 mb-4 elegant-nav">Recent Tasks</h2>
<div class=" mat-elevation-z8">
    <div class="relative flex items-center justify-center ">

        <table mat-table [dataSource]="data" class="min-h-62" matSort matSortActive="created" matSortDisableClear
            matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{'dashboard.card.recent.table.no'|translate}}</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>{{'dashboard.card.recent.table.title'|translate}}</th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>{{'dashboard.card.recent.table.description'|translate}}</th>
                <td mat-cell *matCellDef="let row">
                    <div class="line-clamp-3">{{row.description}}</div>
                </td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef disableClear>
                    {{'dashboard.card.recent.table.created'|translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                    <span class="whitespace-nowrap">{{row.createdAt | date}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef disableClear>
                    {{'dashboard.card.recent.table.status'|translate}}
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [ngClass]="{'bg-amber-500/10 text-amber-500':row.state===taskState.PENDING,'bg-emerald-500/10 text-emerald-500':row.state===taskState.COMPLETE}"
                        class="text-center text-xs rounded-full px-2 py-1 elegant-nav"> {{row.state |translate}}
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        @if (isLoadingResults) {
        <div class="absolute">
            <mat-spinner></mat-spinner>
        </div>
        }
    </div>
</div>